git-repos-vol
elk-data-vol
nexus-data-vol
gerrit-site-vol
volumes/elasticsearch-data-vol/elasticsearch/
volumes/jenkins-home-vol
*~
*.swp
*.swo
platform.secrets.sh
env.override.sh
conf/provider/env.provider.*.sh
*.seq
.adop*
