# set TARGET_HOST to dns/ip of proxy

proxy:
  restart: always
  image: accenture/adop-nginx:0.1.0
  #build: ../images/docker-nginx/
  ports:
    - "80:80"
    - "443:443"
  volumes:
    - ./volumes/nginx-configuration-vol:/etc/nginx:ro
    - ./volumes/nginx-releasenote-vol:/usr/share/nginx/html
  links:
    - gerrit:gerrit
    - ldap:ldap
    - sonar:sonar
    - jenkins:jenkins
    - selenium-hub:selenium-hub 
    - elk:elk
  #log_driver: "syslog"
  #log_opt:
  #  syslog-address: "tcp://${TARGET_HOST}:514"

ldap:
  restart: always
  #build: ../images/docker-ldap/
  image: accenture/adop-ldap:0.1.0
  expose:
    - "389"
  # ADDING THE VOUMES PREVENTS LDAP STARTING!
  #  volumes:
  #    - ./volumes/ldap-configuration-vol:/etc/ldap/slapd.d
  #    - ./volumes/ldap-ssl-vol:/etc/ldap/ssl
  #    - ./volumes/ldap-db-vol:/var/lib/ldap
  #log_driver: "syslog"
  #log_opt:
  #  syslog-address: "tcp://${TARGET_HOST}:514"
  environment:
    LDAP_ADMIN_PASSWORD: "Sw4syJSWQRx2AK6KE3vbhpmL"

ldap-init:
  #build: ../images/docker-ldap/
  image: docker.accenture.com/adop/ldap:0.0.8
  links:
    - ldap:ldap
  #log_driver: "syslog"
  #log_opt:
  #  syslog-address: "tcp://${TARGET_HOST}:514"
  command: "bash -c '/usr/local/bin/load_ldif.sh -h ldap -u cn=admin,dc=adop,dc=accenture,dc=com -p Sw4syJSWQRx2AK6KE3vbhpmL -b dc=adop,dc=accenture,dc=com -f /tmp/structure.ldif'"

gerrit-mysql:
  restart: always
  image: mysql:5.6.25
  expose:
    - "3306"
  #log_driver: "syslog"
  #log_opt:
  #  syslog-address: "tcp://${TARGET_HOST}:514"
  environment:
    MYSQL_ROOT_PASSWORD: "Password01"
    MYSQL_USER: "gerrit"
    MYSQL_PASSWORD: "gerrit"
    MYSQL_DATABASE: "gerrit"
    #SERVICE_3306_NAME: gerrit-mysql
  # MC - Again volume seems to break this too
  #volumes:
  #  - ./volumes/gerrit-mysql-vol:/var/lib/mysql

gerrit:
  restart: always
  #build: ../images/docker-gerrit/
  image: accenture/adop-gerrit:0.1.0
  expose:
    - "8080"
    - "29418"
  links:
    - gerrit-mysql:gerrit-mysql
    - ldap:ldap
  volumes:
    - ./volumes/git-repos-vol:/var/git/repos 
    - ./volumes/gerrit-site-vol:/var/gerrit/review_site 
  #log_driver: "syslog"
  #log_opt:
  #  syslog-address: "tcp://${TARGET_HOST}:514"
  environment:
    SERVICE_8080_CHECK_SCRIPT: "curl --silent --fail ${TARGET_HOST}:8030/gerrit"
    SERVICE_8080_NAME: "gerrit"
    SERVICE_29418_NAME: "gerrit-ssh"
    REPO_PATH: "/var/git/repos"
    WEBURL: "${TARGET_HOST}/gerrit"
    DATABASE_TYPE: "mysql"
    DB_HOSTNAME: "gerrit-mysql"
    DB_PORT: "3306"
    DB_NAME: "gerrit"
    DB_USER: "gerrit"
    DB_PASSWORD: "gerrit"
    AUTH_LOGOUTURL: "http://${TARGET_HOST}/gerrit"
    AUTH_TYPE: "LDAP"
    LDAP_SERVER: "ldap:389"
    LDAP_ACCOUNTBASE: "dc=adop,dc=accenture,dc=com"
    LDAP_ACCOUNTPATTERN: "(cn=$${username})"
    LDAP_ACCOUNTFULLNAME: "$${cn}"
    LDAP_ACCOUNTEMAILADDRESS: "mail"
    LDAP_USERNAME: "cn=admin,dc=adop,dc=accenture,dc=com"
    LDAP_PASSWORD: "Sw4syJSWQRx2AK6KE3vbhpmL"
    LDAP_GROUPBASE: "ou=groups,dc=adop,dc=accenture,dc=com"
    LDAP_GROUPPATTERN: "(cn=$${groupname})"
    LDAP_GROUPMEMBERPATTERN: "(uniqueMember=$${dn})"
    HTTPD_LISTENURL: "proxy-http://0.0.0.0:8080/gerrit"
    USER_NAME: "Gerrit Code Review" 
    USER_EMAIL: "gerrit@adop" 
    DOWNLOAD_SCHEME: "http"  

gerrit-init:
  #restart: always
  #build: ../images/docker-gerrit/
  image: docker.accenture.com/adop/gerrit:0.0.6
  links:
    - gerrit:gerrit
  #log_driver: "syslog"
  #log_opt:
  #  syslog-address: "tcp://${TARGET_HOST}:514"
  command: bash -c "/var/gerrit/adop_scripts/create_user.sh -u gerrit -p gerrit && /var/gerrit/adop_scripts/create_user.sh -u jenkins -p jenkins && /var/gerrit/adop_scripts/create_user.sh -u john.smith -p Password01 && /var/gerrit/adop_scripts/add_user_to_group.sh -A gerrit -P gerrit -u jenkins -g 'Non-Interactive Users' && /var/gerrit/adop_scripts/add_user_to_group.sh -A gerrit -P gerrit -u john.smith -g Administrators"
    # && /var/gerrit/adop_scripts/upload_ssh_key.sh -c ${TARGET_HOST} -p 8500 -A gerrit -P gerrit -k adop/core/jenkins/ssh/public_key -u jenkins"

sonar-mysql:
  restart: always
  image: mysql:5.6.25
  expose:
    - "3306"
  #log_driver: "syslog"
  #log_opt:
  #  syslog-address: "tcp://${TARGET_HOST}:514"
  #volumes:
  #  - /data/sonar-mysql/data_dir:/var/lib/mysql 
  environment: 
    SERVICE_3306_NAME: "sonar-mysql"
    MYSQL_ROOT_PASSWORD: "sonar"
    MYSQL_USER: "sonar"
    MYSQL_PASSWORD: "sonar"
    MYSQL_DATABASE: "sonar"

sonar:
  restart: always
  image: accenture/adop-sonar:0.1.0
  #build: ../images/docker-sonar/
  volumes:
    - ./volumes/sonar-plugins-vol:/opt/sonarqube/extensions/plugins 
  #log_driver: "syslog"
  #log_opt:
  #  syslog-address: "tcp://${TARGET_HOST}:514"
  expose:
    - "9000"
  links:
    - ldap:ldap
    - sonar-mysql:sonar-mysql
  environment:
    SERVICE_9000_NAME: "sonar"
    SERVICE_9000_CHECK_SCRIPT: "curl --silent --fail ${TARGET_HOST}:8020/sonar"  
    LDAP_URL: "ldap://ldap:389"
    LDAP_BIND_DN: "cn=admin,dc=adop,dc=accenture,dc=com"
    LDAP_BIND_PASSWORD: "Sw4syJSWQRx2AK6KE3vbhpmL" 
    LDAP_USER_BASE_DN: "ou=people,dc=adop,dc=accenture,dc=com" 
    LDAP_USER_REQUEST: "(&(objectClass=inetOrgPerson)(uid={login}))" 
    LDAP_USER_REAL_NAME_ATTRIBUTE: "displayName"
    LDAP_USER_EMAIL_ATTRIBUTE: "mail"
    LDAP_GROUP_BASE_DN: "ou=groups,dc=adop,dc=accenture,dc=com" 
    LDAP_GROUP_REQUEST: "(&(objectClass=groupOfUniqueNames)(uniqueMember={dn}))" 
    LDAP_GROUP_ID_ATTRIBUTE: "cn"
    SONARQUBE_JDBC_URL: "jdbc:mysql://sonar-mysql:3306/sonar?useUnicode=true&characterEncoding=utf8&rewriteBatchedStatements=true"

jenkins:
  restart: always
  image: accenture/adop-jenkins:0.1.0
  #build: ../images/docker-jenkins/
  expose:
    - "8080"
    - "50000"
  #log_driver: "syslog"
  #log_opt:
  #  syslog-address: "tcp://${TARGET_HOST}:514"
  privileged: true
  links:
    - gerrit:gerrit
    - ldap:ldap
    - sonar:sonar
    - sonar-mysql:sonar-mysql
  volumes:
    - ./volumes/jenkins-home-vol:/var/jenkins_home 
    - /var/run/docker.sock:/var/run/docker.sock
  environment:
    SERVICE_CHECK_SCRIPT: "curl --silent --fail ${TARGET_HOST}:8010/jenkins"
    SERVICE_8080_NAME: "jenkins"
    JENKINS_OPT: "--prefix=/jenkins"
    ROOT_URL: "http://proxy/jenkins/"
    LDAP_SERVER: "ldap:389"
    LDAP_ROOTDN: "dc=adop,dc=accenture,dc=com"
    LDAP_USER_SEARCH_BASE: "ou=people"
    LDAP_USER_SEARCH: "uid={0}"
    LDAP_GROUP_SEARCH_BASE: "ou=groups"
    LDAP_GROUP_SEARCH_FILTER: ""
    LDAP_GROUP_MEMBERSHIP_FILTER: ""
    LDAP_MANAGER_DN: "cn=admin,dc=adop,dc=accenture,dc=com"
    LDAP_MANAGER_PASSWORD: "Sw4syJSWQRx2AK6KE3vbhpmL"
    LDAP_INHIBIT_INFER_ROOTDN: "false"
    LDAP_DISABLE_MAIL_ADDRESS_RESOLVER: "false"
    LDAP_DISPLAY_NAME_ATTRIBUTE_NAME: "displayName"
    LDAP_MAIL_ADDRESS_ATTRIBUTE_NAME: "mail"
    GERRIT_HOST_NAME: "gerrit"
    GERRIT_FRONT_END_URL: "http://gerrit/gerrit"
    SONAR_SERVER_URL: "http://sonar:9000/sonar/"
    SONAR_ACCOUNT_LOGIN: "jenkins"
    SONAR_ACCOUNT_PASSWORD: "jenkins"
    SONAR_DB_URL: "jdbc:mysql://sonar-mysql:3306/sonar?useUnicode=true&amp;characterEncoding=utf8"
    SONAR_DB_LOGIN: "sonar"
    SONAR_DB_PASSWORD: "sonar"
    SONAR_PLUGIN_VERSION: ""
    SONAR_ADDITIONAL_PROPS: ""
    SONAR_RUNNER_VERSION: "2.4"
    ANT_VERSION: "1.9.4"
    MAVEN_VERSION: "3.0.5"
    NODEJS_VERSION: "0.12.2"
    NODEJS_GLOBAL_PACKAGES: "grunt-cli@~0.1.13 bower@~1.3.12 plato@~1.2.1"
    NODEJS_PACKAGES_REFRESH_HOURS: "72"

jenkins-init:
  #restart: always
  #build: ../images/docker-jenkins/
  image: docker.accenture.com/adop/jenkins:0.0.9
  #log_driver: "syslog"
  #log_opt:
  #  syslog-address: "tcp://${TARGET_HOST}:514"
  volumes:
    - ./volumes/jenkins-home-vol:/var/jenkins_home
  command: "/usr/share/jenkins/ref/adop_scripts/generate_key.sh -c ${TARGET_HOST} -p 8500"

selenium-hub:
  restart: always
  image: selenium/hub:2.46.0
  expose:
    - "4444"
  #log_driver: "syslog"
  #log_opt:
  #  syslog-address: "tcp://${TARGET_HOST}:514"
  environment:
    SERVICE_4444_CHECK_SCRIPT: "curl --silent --fail ${TARGET_HOST}:4444/grid/console"

selenium-node-chrome:
  restart: always
  image: selenium/node-chrome:2.46.0
  links:
    - selenium-hub:selenium-hub
  #log_driver: "syslog"
  #log_opt:
  #  syslog-address: "tcp://${TARGET_HOST}:514"
  volumes:
    - ./volumes/selenium-config-vol:/var/selenium-config
  environment:
    SE_OPTS: "-nodeConfig /var/selenium-config/config-chrome.json"

selenium-node-firefox:
  restart: always
  image: selenium/node-firefox:2.46.0
  links:
    - selenium-hub:selenium-hub
  #log_driver: "syslog"
  #log_opt:
  #  syslog-address: "tcp://${TARGET_HOST}:514"
  volumes:
    - ./volumes/selenium-config-vol:/var/selenium-config
  environment:
    SE_OPTS: "-nodeConfig /var/selenium-config/config-firefox.json"

selenium-phantomjs:
  restart: always
  image: stevenalexander/node-phantomjs:2.46.0
  links:
    - selenium-hub:selenium-hub
  #log_driver: "syslog"
  #log_opt:
  #  syslog-address: "tcp://${TARGET_HOST}:514"
  volumes:
    - ./volumes/selenium-config-vol:/var/selenium-config
  environment:
    SE_OPTS: "-nodeConfig /var/selenium-config/config-phantomjs.json"

elk:
  restart: always
  image: pblittle/docker-logstash:0.11.0
  expose:
    - "9292"
    - "9200"
  ports:
    - "514:514" 
  volumes: 
    - ./volumes/elk-data-vol:/data
  environment:
    SERVICE_CHECK_SCRIPT: "curl --silent --fail ${TARGET_HOST}:9292"
    SERVICE_514_NAME: "logstash"
    SERVICE_9200_NAME: "elasticsearch"
    SERVICE_9292_NAME: "kibana"
    ES_PORT: "80"
    ES_HOST: "kibana.XXXX.xip.io"
    LOGSTASH_CONFIG_URL: "https://s3-eu-west-1.amazonaws.com/adop-core/data/elk/logstash-0.0.1.conf"

nexus:
  restart: always
  image:  accenture/adop-nexus:0.1.0
  expose:
    - "80"
  links:
   - ldap:ldap
  #log_driver: "syslog"
  #log_opt:
  #  syslog-address: "tcp://${TARGET_HOST}:514"
  volumes:
    - ./volumes/nexus-data-vol:/sonatype-work
  environment:
    SERVICE_CHECK_SCRIPT: "curl --silent --fail ${TARGET_HOST}:80/"
    SERVICE_8081_NAME: "nexus"
    NEXUS_BASE_URL: "http://nexus.XXX.xip.io"
    LDAP_SEARCH_BASE: "dc=adop,dc=accenture,dc=com"
    ADOP_LDAP_ENABLED: "true"
    LDAP_URL: "ldap.service.adop.consul"
    LDAP_BIND_DN: "cn=admin,dc=adop,dc=accenture,dc=com"
    LDAP_USER_PASSWORD_ATTRIBUTE: "userPassword"
    LDAP_USER_BASE_DN: "ou=people"
    LDAP_GROUP_BASE_DN: "ou=groups"
    LDAP_BIND_PASSWORD: "Sw4syJSWQRx2AK6KE3vbhpmL"
