# Example file to store all the generated secrets for your ADOP stack

# Username for initial admin user
export INITIAL_ADMIN_USER="###INITIAL_ADMIN_USER###"

# Password for initial admin user
export INITIAL_ADMIN_PASSWORD_PLAIN="###INITIAL_ADMIN_PASSWORD_PLAIN###"

# Password for the Jenkins user
export PASSWORD_JENKINS="###PASSWORD_JENKINS_PLAIN###"

# Password for the Gerrit user
export PASSWORD_GERRIT="###PASSWORD_GERRIT_PLAIN###"

# Root password for the Sonar and Gerrit MySQL instances
export PASSWORD_SQL="###PASSWORD_SQL_PLAIN###"
