# Example file to store all the generated secrets for your ADOP stack

# Password for initial admin user
export INITIAL_ADMIN_PASSWORD_PLAIN=""

# Password for the Jenkins user (plain text)
export PASSWORD_JENKINS=""

# Password for the Gerrit user (plain text)
export PASSWORD_GERRIT=""

# Root password for the Sonar and Gerrit MySQL instances
export PASSWORD_SQL=""
