# Example file to store all the generated secrets for your ADOP stack

# Version ID of the example secrets file, note this needs to be the FULL SHA1 commit ID if you build this file by hand
# To do this by hand, run the following command: git log -1 --format='%H' HEAD platform.secrets.sh.example
export VERSION_ID="###VERSION_ID###"

# Username for initial admin user
export INITIAL_ADMIN_USER="###INITIAL_ADMIN_USER###"

# Password for initial admin user
export INITIAL_ADMIN_PASSWORD_PLAIN="###INITIAL_ADMIN_PASSWORD_PLAIN###"

# Password for the Jenkins user
export PASSWORD_JENKINS="###PASSWORD_JENKINS_PLAIN###"

# Password for the Gerrit user
export PASSWORD_GERRIT="###PASSWORD_GERRIT_PLAIN###"

# Root password for the Sonar and Gerrit MySQL instances
export PASSWORD_SQL="###PASSWORD_SQL_PLAIN###"

# Admin password for LDAP
export LDAP_PWD="###LDAP_PWD###"
