# Shell script to store AWS-specific environment variables
# Can be sourced and re-sourced to keep variables in shell instance

export AWS_VPC_ID="###AWS_VPC_ID###"
export AWS_KEYPAIR="###AWS_KEYPAIR###"
export AWS_INSTANCE_TYPE="###AWS_INSTANCE_TYPE###"
export AWS_SUBNET_ID="###AWS_SUBNET_ID###"
export AWS_DEFAULT_REGION="###AWS_DEFAULT_REGION###"
