<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>ADOP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/adop-docker-compose/stylesheets/normalize.css">
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700'>
    <link rel="stylesheet" type="text/css" href="/adop-docker-compose/stylesheets/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/adop-docker-compose/stylesheets/github-light.css">
    <link rel="stylesheet" type="text/css" href="/adop-docker-compose/stylesheets/gridism.css">
  </head>
  <body class="wrap">
    {% include header.html %}

    {{ content }}

    {% include footer.html %}
  </body>
</html>
